<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--为JavaBean起类别名-->
    <typeAliases>
        <!--指定一个包名起别名,将包内的Java类名作为类的类别名-->
        <package name="model"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <!--直接使用JDBC的提交和回滚设置-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED"> <!--直接JDBC数据源-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="username" value="root"/>
                <property name="password" value="3896"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--加载整个包的配置文件-->
        <package name="mapper"/>
    </mappers>

</configuration>